NODE_ENV=development

PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=ride_hailing

JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=1d

MOCK_OTP=123456
OTP_EXPIRES_IN_SECONDS=300

REDIS_URL=redis://127.0.0.1:6379