<configuration>
    <!-- requestId lấy từ header X-Request-Id do gateway sinh (Router đặt vào MDC) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSX, UTC} %-5level [%X{requestId:--}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.flywaydb" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
